<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gpastudents">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GpAStudents">
        <activity android:name=".UI.notice.Notice_image_full_view"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".curriculum.curriculumViewActivity"
            android:parentActivityName=".curriculum.curriculumActivity">

        </activity>
        <activity
            android:name=".auth.auth"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".oldPaper.oldPaperViewActivity"
            android:parentActivityName=".oldPaper.oldPaperActivity" />
        <activity
            android:name=".submission.Upload_Submission"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".submission.SubmissionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".book.PdfViewerActivity"
            android:parentActivityName=".book.BookActivity" />
        <activity
            android:name=".oldPaper.oldPaperActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".curriculum.curriculumActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".book.BookActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>